/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run SowpatiLab/variantscope -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input                = 'assets/samplesheet.csv'
    genome               = "${projectDir}/assets/references/hg38.fa"
    genome_fai           = "${projectDir}/assets/references/hg38.fa.fai"
    genome_dict          = "${projectDir}/assets/references/hg38.dict"
    genome_version       = '38'
    dbsnp                = "${projectDir}/assets/references/dbsnp_138.hg38.vcf.gz"
    amber_germline_sites = "${projectDir}/assets/references/AmberGermlineSites.38.tsv.gz"
    gc_profile           = "${projectDir}/assets/references/GC_profile.1000bp.38.cnp"
    ensembl_path         = "${projectDir}/assets/references/ensembl"
    bwa_index            = "${projectDir}/assets/references"
    known_fusion         = "${projectDir}/assets/references/known_fusions.txt"
    ensembl_data         = "${projectDir}/assets/references/ensembl_data"
    driver_genes         = "${projectDir}/assets/references/driver_genes.txt"
}

